.select{
    display: flex;
    height: 22px;
    position: relative;
    background: transparent;
    
    .select__wrapper-options{
        display: none;
        position: absolute;
        flex-wrap: wrap;
        width: 250px;
        top:22px;
        left: -100px;
        padding: 5px;
        background-color: #12142b;
    }

    .select__country{
        display: flex;
        font-size: medium;
        width: 50%;
    }

    .select__title-wrapper{
        display: flex;
        font-size: medium;
        background: transparent;
    }

    .select__title{
        display: flex;
        align-items: center;
        margin-left: 12px;
    }

    .select__option{
        width: 35px;
        margin: 5px;
        font-size: medium;
        background: transparent;
    }

    .select__is-active{
        display: flex;
    }
}